!.gitkeep

data/

# Laravel, nodeJS, Bower, Gulp exclusions, Composer exclusions
.htaccess
vendor/
node_modules/
npm-shrinkwrap.json
bower_components/
bootstrap/compiled.php
bootstrap/cache/
npm-debug.log
yarn-error.log

storage/
storage/debugbar/
storage/framework/views/
storage/framework/sessions/

composer.phar
composer.lock
phpunit.phar

public/mix-manifest.json

.env
.env.*.php
.env.php
.sass-cache
/.git
/.svn
/.hg
/CVS

# IDE exclusions
.DS_Store
Thumbs.db
.idea
_ide_helper.php
.phpstorm.meta.php
*.sqlite
/.idea
/.vagrant
/.vscode
/.DS_Store
